* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --sumit-black: #131313;
    --sumit-white: #FCFCF5;
    --dark-blue: #2F31F5;
    --light-blue: #BCE3D1;
    --sumit-pink: #F76F8E;
}



body.load-in {
    background-color: var(--sumit-black);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.svg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: transparent;
    /* or set a backdrop if needed */
}

.svg-overlay img {
    width: 60vw;
    /* Scales with screen size */
    height: auto;
    /* Keeps aspect ratio */
    max-width: 200px;
    /* Optional cap for large screens */
}

#squiggle-1 {
    position: absolute;
    right: 100px;
    left: -20px;
    top: 50px;
}

#squiggle-2 {
    position: absolute;
    top: 100px;
    right: -20px;
}

#squiggle-3 {
    position: absolute;
    top: 400px;
    right: 0px;
}

#squiggle-4 {
    position: absolute;
    right: 100px;
    left: -10px;
    top: 550px;
}

#squiggle-5 {
    position: absolute;
    top: 700px;
    right: 0px;
}

#squiggle-6 {
    position: absolute;
    bottom: 0px;
    right: 200px;
}

@media (max-width: 400px) {
    .svg-overlay img {
        width: 80vw;
    }
}